header{
  display: flex;
  align-items: center;
  background-color: #5827bb 
}

h1{
  color: aliceblue;
  justify-self: left;
}

nav{
margin-left: auto; /*alineamiento a la izquierda*/
margin-right: 50px;
}

#igLogo{
  width: 12px;
}
#napoLogo {
  margin: 10px 20px 10px 20px;
  width: 100px;
  height: auto;
  justify-self: left;
}

#flyer{
  width: 100%;
}

#proximoEvento{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30.5em,1fr));
}

#contenedorDer{
  font-family: "PPRadioGrotesk-Regular, sans-serif";
  color: white;
}

.cartelera{ /* no cambiar*/
  flex: wrap;
  border: 5px rgb(13, 109, 109);
  border-radius: 1%;
  border-style: solid;
  width: 300px;
  height: 500px;
  margin: 10px; 
}

.cartelera:hover{ 
  transition: scale 1s, border 0.5s, border 0.5s; /*para hacerlo fluido*/
  scale: 110%;
  border: 5px rgb(27, 253, 253);
  border-style: solid;
}

#textoEventosPasados{
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  font-family: 'PPRadioGrotesk-Black';

}

.caja{ /* no cambiar*/
  background-color: rgb(32, 32, 32);
  border: 5px whitesmoke;
  border-style: solid;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

@media (max-width: 768px) { /* responsive*/
  .cartelera {
    max-width: 100%; /* Las imágenes ocuparán el 100% del ancho de la pantalla */
    height: auto; /* La altura se ajustará automáticamente */
  }
}

footer{
    background: rgb(233, 233, 233);
}

body {
  background: rgb(15, 15, 15);
  margin: 0;
  padding: 0;
}  

@font-face { /*FUENTES NO TOCAR */
  font-family: 'PPRadioGrotesk-Black';
  src: url('fuentes/PPRadioGrotesk-Black.otf') format('opentype');
}

@font-face { /*FUENTES NO TOCAR */
  font-family: 'PPRadioGrotesk-BlackItalic';
  src: url('fuentes/PPRadioGrotesk-BlackItalic.otf') format('opentype');
}

@font-face { /*FUENTES NO TOCAR */
  font-family: 'PPRadioGrotesk-Regular';
  src: url('fuentes/PPRadioGrotesk-Regular.otf') format('opentype');
}

@font-face { /*FUENTES NO TOCAR */
  font-family: 'PPRadioGrotesk-RegularItalic';
  src: url('fuentes/PPRadioGrotesk-RegularItalic.otf') format('opentype');
}

@font-face { /*FUENTES NO TOCAR */
  font-family: 'PPRadioGrotesk-Ultralight';
  src: url('fuentes/PPRadioGrotesk-Ultralight.otf') format('opentype');
}

@font-face { /*FUENTES NO TOCAR */
  font-family: 'PPRadioGrotesk-Ultralight';
  src: url('fuentes/PPRadioGrotesk-Ultralight.otf') format('opentype');

}@font-face { /*FUENTES NO TOCAR */
  font-family: 'PPRadioGrotesk-UltralightItalic';
  src: url('fuentes/PPRadioGrotesk-UltralightItalic.otf') format('opentype');
}