header{
    display: flex;
    align-items: center;
}

ul{
  color: black;
}

h1{
    color: aliceblue;
}

.imagen{
    border: 5px rgb(13, 109, 109);
    border-radius: 1%;
    border-style: solid;
    width: 300px;
    height: 500px;
    margin: 10px;
}

.imagen:hover{
    transition: scale 1s, transform 0.5s, border 0.5s, border-radius 0.5s;
    scale: 110%;
    border: 5px rgb(27, 253, 253);
    border-radius: 1%;
    border-style: solid;
}

.container{
    background-color: rgb(32, 32, 32);
    border: 5px rgb(252, 252, 252);
    border-style: solid;
    border-radius: 1%;
    display: flex;
    justify-content: center;
}

footer{
    background: rgb(233, 233, 233);
}

nav{
  display: flex;
  justify-self: right;
}

nav ul li {
    position: relative;
  }
  
  nav ul li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  nav ul li:hover .submenu {
    display: block;
  }
  

  body {
    background: rgb(15, 15, 15);
    margin: 0;
    padding: 0;
  }

#napo_logo {
    margin: 10px;
    width: 100px;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  nav ul li:hover .submenu {
    display: block;
  }
  